<div class="codeflair-assignment">
  <section class="user-filter">
    <label for="input-field">
      Filter Users by Name /
      {{ filteredUsers.length }}
      <span>User</span><span *ngIf="filteredUsers.length !== 1">s</span><span> found.</span>
    </label>
    <input type="text" (input)="filterUsers($event.target.value)"/>
    <div [@fade]="filteredUsers.length === 0 ? 'show' : 'hide'">
      <span class="user-filter__no-users-found">Results are empty</span>  
    </div>
    <button class="filter-button" (click)="onSortByAge()">Sort by Age</button>
  </section>
  <div class="user-list">
      <ul>
        <li *ngFor="let user of filteredUsers;let i = index">
          <article class="user">
            <button class="user__trigger" (click)="onShowExtraInfo(i)">
              <div class="user__image">
                <img [src]="user.img" />
              </div>
              <div class="user__info">
                <h2>{{ user.firstname }} {{ user.lastname }}</h2>
                <p class="user__age">{{ user.age }}</p>
              </div>
            </button>
            <div class="user__extra-info" [@fade]="selectedUserId === i ? 'show' : 'hide'">
              {{ user.extraInfo }}
            </div>
          </article>
        </li>       
      </ul>
		</div>
</div>
